<!DOCTYPE html>
<% posts.forEach(function(post) {%>
  <div class="post-container">
    <h3 class="post-title">
      <a href="/posts/<%=post.id%>"><%= post.title%></a>
    </h3>
    <div class="card d-flex flex-row post-body">
      <div class="card-body post-text">
        <%=post.body.slice(0, 1000) %>
        <div class="post-buttons d-flex justify-content-end">
          <% if(userSess.id === post.user_id) {%>
            <button type="button" aria-hidden="true" class="glyphicon glyphicon-trash delete" value="<%= JSON.stringify(post) %>">delete</button>
            <button aria-hidden="true"><a class="glyphicon glyphicon-edit" href='/posts/update/<%=post.id%>'>update</a></button>
          <%}%>
        </div>
      </div>
    </div>
  </div>
<%})%>
