<!DOCTYPE html>

<% posts.forEach(function(post) {%>
  <div class="container">
    <div class="row post-display" id ="<%=post.id%>">
      <div>
        <h3> 
          <a href="/posts/<%=post.id%>"><%= post.title%></a>
        </h3>
      </div>
      <div class="truncate1000">
        <%=post.body.slice(0, 1000) %>
      </div>
    </div>
    <div class="row post-buttons">
      <div class="col-sm edit-button">
        <% if(userSess) {%>
          <button class="glyphicon glyphicon-trash delete buttons" value="<%= JSON.stringify(post) %>" aria-hidden="true"></button>
      </div>
      <div class="col-sm edit-button">
          <button class="buttons" aria-hidden="true"><a class="glyphicon glyphicon-edit" href='/posts/update/<%=post.id%>'></a></button>
        <%}%>
      </div>
    </div>
  </div>
<%})%>
