<!DOCTYPE html>
<% posts.forEach(function(post) {%>
  <div>
    <h3 class="card-post">
      <a href="/posts/<%=post.id%>"><%= post.title%></a>
    </h3>
    <div class="card card-post">
      <div class="card-body">
        <%=post.body.slice(0, 1000) %>
      </div>
    </div>
    <% if(userSess.id === post.user_id) {%>
      <button type="button" aria-hidden="true" class="glyphicon glyphicon-trash delete" value="<%= JSON.stringify(post) %>">hey </button>
      <button aria-hidden="true"><a class="glyphicon glyphicon-edit" href='/posts/update/<%=post.id%>'>hey</a></button>
    <%}%>
  </div>
<%})%>
